IoT/file.metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/smttech-ru/schema/main/IoT/file.metadata.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mes">
    <xs:complexType>
      <xs:attribute name="deleted" type="xs:unsignedByte" use="required" />
      <xs:attribute name="archiver" type="xs:string" use="required" />
      <xs:attribute name="original_size" type="xs:unsignedInt" use="required" />
      <xs:attribute name="ts" type="xs:dateTime" use="required" />
      <xs:attribute name="path" type="xs:string" use="required" />
      <xs:attribute name="archive_hash_md5" type="xs:string" use="required" />
      <xs:attribute name="archive_name" type="xs:string" use="required" />
      <xs:attribute name="archive_size" type="xs:unsignedInt" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>