IoT/v1/clamp.error.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/smttech-ru/schema/main/IoT/v1/clamp.error.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="log">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LogLine" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="path" type="xs:string" use="required" />
      <xs:attribute name="yy" type="xs:unsignedByte" use="required" />
      <xs:attribute name="Slot" type="xs:string" use="required" />
      <xs:attribute name="Clamp" type="xs:string" use="required" />
      <xs:attribute name="mm" type="xs:unsignedByte" use="required" />
      <xs:attribute name="hh" type="xs:unsignedByte" use="required" />
      <xs:attribute name="ts" type="xs:dateTime" use="required" />
      <xs:attribute name="MM" type="xs:unsignedByte" use="required" />
      <xs:attribute name="dd" type="xs:unsignedByte" use="required" />
      <xs:attribute name="ss" type="xs:unsignedByte" use="required" />
      <xs:attribute name="PartName" type="xs:string" use="required" />
      <xs:attribute name="ErrorCode" type="xs:unsignedShort" use="required" />
      <xs:attribute name="ErrorType" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>