IoT/v1/comm.check.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/smttech-ru/schema/main/IoT/v1/comm.check.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mes">
    <xs:complexType>
      <xs:attribute name="cache_freezed" type="xs:unsignedByte" use="required" />
      <xs:attribute name="ts" type="xs:dateTime" use="required" />
      <xs:attribute name="files_in_cache" type="xs:unsignedByte" use="required" />
      <xs:attribute name="service_status" type="xs:string" />
      <xs:attribute name="service_cache_size" type="xs:unsignedInt" />
      <xs:attribute name="client" type="xs:string" use="required" />
      <xs:attribute name="check_period" type="xs:unsignedShort" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>